@use "../abstract" as *;
@use "../base" as *;
@use "../component" as *;
@use "../layout" as *;
@use "../vendor" as *;

@keyframes bgPos{
   25% {
    transform: translate3d(-150px, -150px, 0) rotate(0.001deg);
    }

    75% {
        transform: translate3d(0, 0, 0) rotate(0.001deg);
    } 
}

.bgPos {
    animation: bgPos 1s 100s linear infinite;
}


.breadcrumbs {

    @include mediaQuery__xxl {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 75px;
        padding-right: 75px;
        
    }

    &__wrapper {

        @include mediaQuery__xl {
            padding: 150px 0;
        }

        position: relative;
        overflow: hidden;
        padding: 40px 0;
        text-align: center;
        background-color: #cccccc;
        z-index: 1;

        h2 {
            @include mediaQuery__xl {
                font-size: 40px;
            }

            @include mediaQuery__lg {
                font-size: 36px;
            }

            @include mediaQuery__md {
                font-size: 48px;
                line-height: 1.2;
            } 

            font-size: 32px;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
            letter-spacing: normal;
            color: $clr-light;
        }
    
        ul {
            @include mediaQuery__sm {
                margin-top: 18px;
            }

            margin-top: 14px;
            margin-left: -15px;
            margin-right: -15px;
            font-size: 14px;
            line-height: 1.33;
            font-weight: 500;
            letter-spacing: .1em;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
        }
    
        li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            padding-right: 15px;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
        }

        a {
            color: #ffffff;
            display: inline;
            vertical-align: middle;
            transition: all 0.3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
        }

        li:nth-child(1)::after {
            content: "/";
            display: inline-block;
            position: absolute;
            top: 50%;
            right: -8px;
            color: white;
            transform: translate3d(0, -50%, 0);
        }

        li.active {
            color: rgba(255, 255, 255, 0.53);
        }

        .box-position {
            position: absolute;
            left: 0;
            top: 0;
            width: calc(100% + 150px);
            height: calc(100% + 150px);
            will-change: transform;
            animation: bgPos 100s linear infinite;
            transform: translate3d(-75px, -75px, 0) rotate(0.001deg);
            background-position: 50% 50%;
            background-size: cover;
            z-index: -1;
        }
    }

    &__wrapper::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: rgba(43, 49, 59, 0.025);
    }

    .container {
        @include mediaQuery__xl {
            max-width: 1200px;
        }

        @include mediaQuery__lg {
            max-width: 960px;
        }

        @include mediaQuery__md {
            max-width: 720px;
        }

        @include mediaQuery__sm {
            max-width: 540px;
        }

        position: relative;
        max-width: 98rem;
        padding: 0 1.6rem;
        margin: 0 auto;
        
    }
}

.chooseUs {
    @include mediaQuery__lg {
        padding-top: 100px;
        padding: 50px 0;
    }

    @include mediaQuery__md {
        padding-top: 80px;
        padding: 40px 0;
        text-align: left !important;
    }


    padding-top: 60px;
    background-color: $clr-light;
    padding: 30px 0;
    box-sizing: border-box;

    .container {
        @include mediaQuery__xl {
            max-width: 1200px;
        }

        @include mediaQuery__lg {
            max-width: 960px;
        }

        @include mediaQuery__md {
            max-width: 720px;
        }

        // @include mediaQuery__sm {
        //     max-width: 540px;
        // }

      
        width: 100%;
        padding-right: calc(15px * .5);
        padding-left: calc(15px * .5);
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
    }

    &__wrapper {
        @include mediaQuery__xl {
            align-items: center;
            display: flex;
        }

        @include mediaQuery__md {
            text-align: left;
            display: flex;
        }
        

        margin-bottom: -50px;
        justify-content: center;
        display: flex;

        @include mediaQueryMax__sm {
           flex-wrap: wrap; 
        }

        @include mediaQueryMax__xl {
            flex-wrap: wrap; 
         }
         
        margin-top: calc(-1 * 0);
        margin-right: calc(-.5* 30px);
        margin-left: calc(-.5* 30px);
        box-sizing: border-box;
    }

    &__image {

        @include mediaQuery__lg {
            flex: 0 0 auto;
            width: 41.66667%;      
        }

        @include mediaQuery__xl {
            flex: 0 0 auto;
            width: 50%;
            
        }

         @include mediaQuery__md {
            flex: 0 0 auto;
            width: 83.33333%;
  
        }
        margin-bottom: 50px;

        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(30px * .5);
        padding-left: calc(30px * .5);
        margin-top: 0;

        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            box-sizing: border-box;
            width: 519px;
            aspect-ratio: auto 519 / 564;
            overflow-clip-margin: content-box;
            overflow: clip;

            pointer-events: none;

        }
    }

    &__details {
        @include mediaQuery__xl {
            flex: 0 0 auto;
            width: 50%;
        } 

        @include mediaQuery__lg {
            flex: 0 0 auto;
            width: 58.33333;
        }

        @include mediaQuery__md {
            flex: 0 0 auto;
            width: 83.33333%;
        }


        margin-bottom: 50px;

        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 30px * .5;
        padding-left: 30px * .5;
        margin-top: 0;

        text-align: center;

        h1 {
            @include mediaQuery__md {
                font-size: 46px;
            }
              @include mediaQuery__lg {
                font-size: 54px;
            }
            @include mediaQuery__xl {
                font-size: 64px;
                line-height: 1.2;
                text-align: left;
            }

            letter-spacing: .025rem;
            color: rgba(21, 21, 21, 0.09);
            font-weight: 400;
            font-size: 40px;
            line-height: 0.88;
            margin-top: 0;
            margin-bottom: 0;
            font-family: "Montserrat", arial, sans-serif;
            box-sizing: border-box;
        }
    }

    &__tabs {

        text-align: left;
        box-sizing: border-box;
        --bs-gutter-x: 30px;
        --bs-gutter-y: 0;        
        margin-top: 22px;
    }

    .nav {
        @include mediaQuery__xxl {
            padding-left: 0;
            padding-right: 0;
        }

        padding-left: 1rem;
        padding-right: 1rem;    
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #6c757d;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;

        &__tabs {
            @include mediaQuery__md {
                justify-content: space-between;
                border-bottom: 3px solid #e1e1e1;
                
            }
            font-size: 0;
            line-height: 0;
            word-spacing: 0;
            border: 0;
            justify-content: center;
            margin-bottom: -10px;

            border-width: 1px;
            border-color: #dee2e6;
            border-radius: 0.375rem;
        }

        &__tabs:hover {
          border-color: #e9ecef #e9ecef #dee2e6;
        }
  
      &__tabs.active {
          color: #495057;
          background: #ffffff;
          border-color: #dee2e6 #dee2e6 #ffffff;
      }
  
      &__item {
        @include mediaQuery__md {
           display: inline-block;
        }
        @include mediaQueryMax__md {
              margin-bottom: 10px;
        }
        
          float: none;
          border: 0;
          cursor: pointer;
          transition: .33s all ease;
          display: block;
          box-sizing: border-box;
      }
  
      &__link {
        @include mediaQuery__md {
            position: relative;
            padding: 0 0 10px 0;
            background-color: transparent;
            border: 0;

            font-size: 16px;
        }
          border-width: 1px 0 1px 0;
          border-style: solid;
          border-color: #e1e1e1;
        
          padding: 10px 10px 6px;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: .075em;
          text-align: center;
          vertical-align: middle;
  
          margin: 0;
          border-radius: 0;
          color: #9b9b9b;
          font-family: "Montserrat", sans-serif, Arial, sans-serif;
          display: block;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
          text-decoration: none;
      }

        &__link.active {
            @include mediaQuery__md {
                color: #01b3a7;
            }

            color: $clr-dark-accent;
            border-color: #01b3a7;
            cursor: default;
            background-color: $clr-light;
        }

        &__link:hover {
            color: #01b3a7;
        }

        &__link::after {
            @include mediaQuery__md {
                content: '';
                position: absolute;
                bottom: -7.5px;
                left: 0;
                height: 3px;
                width: 0;
                background: #01b3a7;
                transition: .22s ease;
            }
        }

        &__link.active::after {
            width: 110%;
        }

      }

      #reason-1-content {
        @include mediaQuery__md {
            margin-top: 30px;
        }
      }


      &__tabs__content {
        margin-top: 20px;
        box-sizing: border-box;
        text-align: left;

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
            margin: 0;
            text-wrap: wrap;
            color: $clr-dark;
        }

    }

    &__tabs__content:first-child {
        @include mediaQuery__md {
            margin-top: 40px;
        }

        margin-top: 20px;
        box-sizing: border-box;
        text-align: left;
    }

    &__tabpane {

        display: block;
        visibility: hidden;
        height: 0;
        overflow: hidden;

        transition: opacity 0.15s linear;
        box-sizing: border-box;
        text-align: left;

        p {
            margin: 0;
            box-sizing: border-box;
            display: block;
            text-align: left;

            font-size: 14px;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
            color: $clr-dark;
        }
    }

    &__tabpane.active {
        height: auto;
        visibility: visible;
        overflow: visible;
        display: block;
        transition: opacity 0.15s linear;
    }

&__progress {
        margin-top: 35px;

        position: relative;
        text-align: left;
        font-size: 18px;
        line-height: 1;
        letter-spacing: .075em;
        font-family: "Montserrat", sans-serif, Arial, sans-serif;
        color: #9b9b9b;

        animation-fill-mode: both;
        opacity: 1;

        animation-duration: .7s;
        box-sizing: border-box;

        &__header {
            @include flex(space-between, center);
            box-sizing: border-box;

            p {
                margin: 0;
            }
        }

        &__bar {
            margin-top: 12px;
            height: 6px;
            border-radius: 3px;
            background: #dddddd;

            box-sizing: border-box;

            &__linear {
                position: relative;
                height: inherit;
                background: #01b3a7;
                transition: .5s all ease-in-out;
            }
        }

        &__value {
            position: absolute;
            bottom: 100%;
            right: -4px;
            margin-bottom: 12px;
            transform: translate3d(50%, 0, 0);
            will-change: transform;

            box-sizing: border-box;
        }

        &__value::after {

            content: "%";
            box-sizing: border-box;
        }

        &__secondary {

            .chooseUs__progress__bar__linear {
                background: #50ba87;
                width: 79%;
            }

            &__marker {
                background: #50ba87;
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 22px;
                height: 22px;
                border: 7px solid #ffffff;
                border-radius: 50%;
                transform: translate(50%, -50%);
                box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);

                box-sizing: border-box;
            }
        }

        &__orange {
            .chooseUs__progress__bar__linear {
                background: #e7a855;
                width: 72%;
            }

            &__marker {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 22px;
                height: 22px;
                background: #e7a855;
                border: 7px solid #ffffff;
                border-radius: 50%;
                transform: translate(50%, -50%);
                box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
            }
        }

        &__hotel {
            .chooseUs__progress__bar__linear {
                background: #01b3a7;
                width: 88%;
            }

            &__marker {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 22px;
                height: 22px;
                background: #01b3a7;
                border: 7px solid #ffffff;
                border-radius: 50%;
                transform: translate(50%, -50%);
                box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
            }
        }
    }


    &__skills {

        &__wrapper {
            padding-top: 10px;
            margin-bottom: -40px;
            text-align: center;
            justify-content: center;

            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1* 0);
            margin-right: calc(-.5* 30px);
            margin-left: calc(-.5* 30px);

            box-sizing: border-box;
        }

        &__content {
            @include mediaQuery__sm {
                flex: 0 0 auto;
                width: 33.33333%;
            }

            margin-bottom: 40px;

            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(30px* .5);
            padding-left: calc(30px* .5);
            margin-top: 0;

            box-sizing: border-box;
            text-align: center;

        }

        &__progress {
            display: inline-block;
            text-align: center;
            line-height: 1.2;

            animation-duration: .7s;
            animation-fill-mode: both;
            opacity: 1;

            box-sizing: border-box;

           &__block {
                position: relative;
                box-sizing: border-box;
                display: block;
           }

           &__circle__bar {
              vertical-align: middle;
              box-sizing: border-box;
           }

           &__circle__bg {
               fill: transparent;
               stroke: #e1e1e1;
               stroke-width: 8px;

               box-sizing: border-box;
           }

           &__circle__fg {
            fill: transparent;
            stroke: #01b3a7;
            stroke-width: 10px;

            box-sizing: border-box;

           }

           &__counter {
            display: flex;
            @media (min-width: 768px)
            {
                font-size: 48px;
            }

            position: absolute;
            top: 50%;
            left: 51%;
            font-size: 36px;
            line-height: 1;
            transform: translate(-50%, -50%);
            color: $clr-dark;
           }

           p {
              font-size: 14px;
              letter-spacing: .05em;
              text-transform: uppercase;
              margin-top: 15px;
              text-align: center;

           }

           &__counter::after {
            @include mediaQuery__md {
                content: "%";
                font-size: 36px;
                margin-top: 8px;
            }

            content: "%";
            box-sizing: border-box;
           }
           margin-top: 1px;

        }

        &__button {
            @include mediaQuery__md {
                justify-content: flex-start;
            }

            margin-top: 35px;
            @include flex(center,center);
            flex-wrap: wrap;

            a {
                @include mediaQuery__xl {
                    min-width: 230px;
                }

                display: inline-block;
                margin-top: 0;
                margin-bottom: 17px;
                margin-left: 17px;
            }
           }
    }

    &__mission {

        &__content {
            @include mediaQuery__sm {
                text-align: left
            }

            margin-top: 30px;
            text-align: center;
            box-sizing: border-box;

            ul {
                @include mediaQuery__sm {
                    break-inside: avoid;
                    -webkit-column-gap: 28px;
                }

                @include mediaQuery__md {
                    columns: 3;
                }

                @include mediaQuery__lg {
                    columns: 2;
                }

                @include mediaQuery__xl {
                    columns: 3;
                }

                margin-bottom: -16px;
                display: inline-block;
                text-align: left;
                list-style: none;
                padding: 0;
                margin: 0;

                box-sizing: border-box;

                li {
                    text-indent: -15px;
                    padding-left: 15px;
                    margin-bottom: 16px;
                    display: block;
                    color: $clr-dark;
                    font-family: "Montserrat", sans-serif, Arial, sans-serif;
                    color: #000;
                    font-size: 14px;
                    box-sizing: border-box;
                }

                li::before {
                    background: #50ba87;
                    height: 7px;
                    width: 7px;
                    margin-right: 8px;

                    position: relative;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    content: '';
                    border-radius: 50%;
                }

            }
        }

        &__buttons {
            
            @include mediaQuery__md {
                justify-content: flex-start;
                margin-top: 40px;
            }

            margin-top: 40px;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 17px;
            margin-left: 17px;
            text-align: center;

            @include flex(center,center);
            flex-wrap: wrap;

            margin-bottom: -17px;
            margin-left: -17px;
            box-sizing: border-box;

            a {
                margin-bottom: 17px;
                margin-left: 17px;
            }
        }
    }
}

.destinations {

    @include mediaQuery__md {
        padding: 40px 0;
    }

     @include mediaQuery__lg {
        padding: 50px 0;
    }

    @include mediaQuery__xxl {
        padding-left: 75px;
        padding-right: 75px;
    }



    padding-top: 0;
    background-size: cover;
    background-position: center center;
    background-color: #ffffff;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;

    .container {
        
        @include mediaQuery__sm {
            max-width: 540px;
        }

        @include mediaQuery__md {
            max-width: 720px;
        }

        @include mediaQuery__lg {
            max-width: 960px;
        }

        @include mediaQuery__xl {
            max-width: 1200px;
        }

        

        width: 100%;
        padding-right: calc (15px * .5);
        padding-left: calc (15px * .5);
        margin-right: auto;
        margin-left: auto;

        box-sizing: border-box;
        text-align: center;
        margin-bottom: 30px;
    }

    h3 {

        @include mediaQuery__lg {
            font-size: 36px;
            line-height: 1.2;
        }

        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-family: "Montserrat", sans-serif, Arial, sans-serif;
        letter-spacing: normal;
        color: #151515;
    }

    
    &__item__content {
        text-align: center;
        overflow: hidden;
        transition: all .3s ease;
        position: relative;
        box-sizing: border-box;

        display: block;
    }

    &__item__content:hover::before {
        @include mediaQuery__lg {
           opacity: 1;
           visibility: visible; 
        }
    }
        &__item__content:hover::after {
            @include mediaQuery__lg {
               opacity: 1;
               visibility: visible; 
               transform: none;
            }
        }

        &__item__content:hover .destinations__icon {
            @include mediaQuery__lg {
               opacity: 1;
               visibility: visible; 
               transform: none;
            }
        }

        &__item__content:hover img {
            transform: none;
        }

        

    &__item__content::before {
        @include mediaQuery__lg {
            opacity: 0;
            visibility: hidden;
        }

        position: absolute;
        content: '';
        transition: inherit;
        pointer-events: none;
        box-sizing: border-box;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(25,24,24,0.45);
        z-index: 1;
    }

    &__item__content::after {
        @include mediaQuery__md {
            transform: scale(0.85);
            opacity: 0;
            visibility: hidden;
        }

        display: inline-block;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        border: 1px solid rgba(255,255,255,0.5);
        z-index: 1;

        position: absolute;
        content: '';
        transition: inherit;
        pointer-events: none;
        box-sizing: border-box;
    }

    &__image {
        display: block;
        box-sizing: border-box;

        img {

            @include mediaQuery__lg {
                transform: scale(1.2);
                will-change: transform;
            }

            width: 100%;
            transition: all .3s ease;
            display: inline-block;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            box-sizing: border-box;
            
        }
    }

    &__caption {
        @include flex(center,center);
        flex-direction: column;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        z-index: 1;
        box-sizing: border-box;

        a {
            @include mediaQuery__lg {
                transform: translate3d(0, -10px, 0);
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
            }
            
            color: $clr-light;
            font-size: 36px;
            pointer-events: auto;

            display: inline-block;
            line-height: 1;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            box-sizing: border-box;

            img {
                display: none;
            }
        }

        a:hover {
            color: #b4aeac;
        }

        a::before {
            position: relative;
            display: inline-block;
            font-weight: 400;
            font-style: normal;
            text-transform: none;
            content: "\f00e";
            font-size: 37px;
            
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            box-sizing: border-box;
        }

    }

    &__description {
        margin-top: 30px;
        box-sizing: border-box;

        h5 {
            font-weight: 400;
            font-size: 21px;
            line-height: 1.2;

            
            a {
                color: $clr-dark;
            }
        }
    }
}

@keyframes fadeIn {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}

.fade-in-element {
    animation: fadeIn 1s ease-in-out forwards;
}



.testimonials {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: $clr-light;

    box-sizing: border-box;

    .container {

        @include mediaQuery__sm {
            max-width: 540px;
        }

        @include mediaQuery__md {
            max-width: 720px;
        }

        @include mediaQuery__lg {
            max-width: 960px;
        }

        @include mediaQuery__xl {
            max-width: 1200px;
        }

        width: 100%;
        padding-right: calc(15px * .5);
        padding-left: calc(15px * .5);
        margin-right: auto;
        margin-left: auto;

        box-sizing: border-box;
        text-align: center;
        margin-bottom: 30px;
    }

    h3 {
        @include mediaQuery__lg {
            font-size: 36px;
            line-height: 1.2;
        } 

        text-align: center;         
        font-size: 28px;
        line-height: 1.2;
        // white-space: nowrap;

        font-size: 28px;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-family: "Montserrat", sans-serif, Arial, sans-serif;
        letter-spacing: normal;
        color: #151515;
        margin-bottom: 30px;

    }

    &__slider {
        // transform: translate3d(-618px, 0px, 0px);
        // transition: all 0s ease 0s;
        // width: 2193px;
        // padding-left: 15px;
        // padding-right: 15px;

        position: relative;
        touch-action: manipulation;
        box-sizing: border-box;
    }


    &__slider__item {
        width: 327px;
        margin-right: 30px;

        position: relative;
        min-height: 1px;
        float: left;
        -webkit-tap-highlight-color: transparent;

        box-sizing: border-box;

        .testimonials__quote__text {
            p {
                font-size: 14px;
                line-height: 1.71429;
                text-wrap: wrap;
                
            }
        }
    }

    &__slider__item:nth-child(1) {

        .testimonials__quote__text {
            p {
                padding-left: 16px;
                padding-right: 16px;
                
            }
        }

    }

    &__slider__item:hover .destinations__item__content::before {
        @include mediaQuery__lg {
        opacity: 100;
        visibility: visible;
        }
    }

    &__content {
        position: relative;
        @include mediaQuery__sm {
            padding-left: 15px;
            padding-right: 15px;
        }

        @include mediaQuery__lg {
            padding-top: 60px;
            padding-bottom: 60px;
        } 

        margin-bottom: 35px;
        padding: 30px 10px;
        background: #ffffff;
        box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.17);
        transition: opacity 5s;  
        opacity: 1;
        box-sizing: border-box;
        display: block;

        font-size: 14px;
        line-height: 1.71429;

    }

    &__quote {

        text-align: center;
        padding: 19px 10px;
        letter-spacing: .025em;
        background: #ffffff;
        
        box-sizing: border-box;
        display: block;

        &__body {
            max-width: 880px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            display: block;
        }

        &__profile {
            color: #01b3a7;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            box-sizing: border-box;

            img {
                border-radius: 50%;
                display: inline-block;
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                box-sizing: border-box;
                pointer-events: none;
            }
        }

        &__text {
            margin-top: 18px;
            position: relative;
            padding-left: 25px;
            padding-right: 25px;
            box-sizing: border-box;

            p {
                color: $clr-dark;
                margin: 0;
                box-sizing: border-box;
            }
        }

        &__text::before {
            left: 0;
            top: 4px;
            content: '\201C';

            position: absolute;
            font-size: 48px;
            line-height: 1;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
            color: #50ba87;

            box-sizing: border-box;
        }

        &__text::after {
            right: 0;
            bottom: -24px;
            content: '\201D';

            position: absolute;
            font-size: 48px;
            line-height: 1;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
            color: #50ba87;

            box-sizing: border-box;
        }

        &__name {
            margin-top: 26px;
            font-weight: 400;
            letter-spacing: .075em;

            font-size: 21px;
            line-height: 1.2;
            a {
                color: inherit;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                box-sizing: border-box;
            }
        }

        &__status {
            margin-top: 0;
            color: #01b3a7;
            margin: 0;
            box-sizing: border-box;
        }
    }
}

@keyframes progressBar_79 {
    0% {
      width: 0;
    }
    100% {
      width: 79%;
    }
  }
  
  .progressBar_79 {
    width: 0; 
    animation: progressBar_79 .9s linear; 
  }

  @keyframes progressBar_72 {
    0% {
      width: 0;
    }
    100% {
      width: 72%;
    }
  }
  
  .progressBar_72 {
    width: 0; 
    animation: progressBar_72 .9s linear; 
  }

  @keyframes progressBar_88 {
    0% {
      width: 0;
    }
    100% {
      width: 88%;
    }
  }
  
  .progressBar_88 {
    width: 0; 
    animation: progressBar_88 .9s linear; 
  }

.parallax {
    @include mediaQuery__xxl {
        padding-left: 75px;
        padding-right: 75px;
    }

    padding-top: 0;
    background-size: cover;
    background-position: center center;
    background-color: $clr-light;
    box-sizing: border-box;
    

    &__container {

        display: block;
        position: relative;
        overflow: hidden;

        box-sizing: border-box;
    }

    // background-image: url(/images/bg-counter-2.jpg);
    // background-attachment: fixed;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;

    &__material {
        position: absolute;
        top: 0;
        left: -1px;
        right: -1px;
        bottom: 0;
        box-sizing: border-box;

        background-image: url(/images/bg-counter-2.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;


    }

    &__content {
        @include mediaQuery__lg {
            padding: 100px 0;
        }

        @include mediaQuery__md {
            padding: 90px 0;
        }

        position: relative;
        z-index: 1;
        padding: 60px 0;

        box-sizing: border-box;
        .container {

             // NOT INCLUDED
            // @include mediaQuery__xl {
            //    max-width: 1200px;
            // }


    
            @include mediaQuery__lg {
                max-width: 1200px;
            }

            @include mediaQuery__md {
                max-width: 720px;
            }
            
            @include mediaQuery__sm {
                max-width: 370px;
            }   

            @include mediaQuery__xl {
                max-width: 546px;
            }

            // @include mediaQuery__sm {
            //     max-width: 540px;
            // }

            // @include mediaQuery__md {
            //     max-width: 720px;
            // }

            // @include mediaQuery__lg {
            //     max-width: 960px;
            // }

            // @include mediaQuery__xl {
            //     max-width: 500px;
            // }

            max-width: 540px;

            width: 100%;
            padding-right: calc(15px* .5);
            padding-left: calc(15px* .5);
            margin-right: auto;
            margin-left: auto;
            box-sizing: border-box;
        }
    }

    &__content::before {
        background: rgba(43, 49, 59, 0.26);

        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;

        box-sizing: border-box;
    }

    &__wrapper {

        margin-bottom: -50px;
        justify-content: center;

        
        display: flex;

        @include mediaQueryMax__sm {
            flex-wrap: wrap; 
         }

         @include mediaQueryMax__md {
            flex-wrap: wrap; 
         }

        //  tablet
         @include mediaQueryMax__lg {
            margin-bottom: -72px;
         }

        margin-top: calc(-1* 0);
        margin-right: calc(-.5* 30px);
        margin-left: calc(-.5* 30px);

        box-sizing: border-box;
    }

    &__item {
        @include mediaQuery__sm {
          position: relative;  
          flex: 0 0 auto;
          width: 50%;
        }

        @include mediaQuery__lg {
            flex: 0 0 auto;
            width: 25%;
        }

        @include mediaQuery__md {
            flex: 0 0 auto;
            width: 60%;
        }
        
        position: relative; 
        

        margin-bottom: 50px;

        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(30px * .5);
        padding-left: calc(30px * .5);
        margin-top: 0;

        box-sizing: border-box;
    }

    &__item:nth-child(2)::before {
        @include mediaQuery__sm {
            display: inline-block;
        }

        @include mediaQuery__sm {
            top: 50%;
            left: 0;
            width: 1px;
            height: 68px;
            margin-top: -34px;
            transform: none;
        }

        background: rgba(244, 244, 244, 0.55);
        display: inline-block;

        position: absolute;
        content: '';
        left: 50%;
        top: -25px;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;

        box-sizing: border-box;
    }

    &__item:nth-child(3)::before {

        @include mediaQuery__lg {
            display: inline-block;
        }

        @include mediaQueryMax__md {
            display: none;
        }

        @include mediaQueryMax__sm {
            display: inline-block;
        }

        @include mediaQuery__sm {
            top: 50%;
            left: 0;
            width: 1px;
            height: 68px;
            margin-top: -34px;
            transform: none;
        }

        background: rgba(244, 244, 244, 0.55);
        display: inline-block;

        position: absolute;
        content: '';
        left: 50%;
        top: -25px;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;

        box-sizing: border-box;
    }

    &__item:nth-child(4)::before {
        @include mediaQuery__sm {
            display: inline-block;
        }

        @include mediaQuery__sm {
            top: 50%;
            left: 0;
            width: 1px;
            height: 68px;
            margin-top: -34px;
            transform: none;
        }

        background: rgba(244, 244, 244, 0.55);
        display: inline-block;

        position: absolute;
        content: '';
        left: 50%;
        top: -25px;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;

        box-sizing: border-box;
    }

    &__details {
        text-align: center;
        box-sizing: border-box;

        h5 {
            @include mediaQuery__lg {
                font-size: 21px;
            }

            color: $clr-light;
            font-weight: 400;
            letter-spacing: .05em;
            font-size: 16px;
            text-transform: uppercase;
            white-space: nowrap;
        }

    }

    &__number {
        @include mediaQuery__xl {
            font-size: 110px;
        }

        @include mediaQuery__lg {
            font-size: 70px;
        }

        font-size: 50px;
        line-height: 0.8;
        font-weight: 300;
        letter-spacing: .025em;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif, Arial, sans-serif;
        margin-bottom: 7px;

        box-sizing: border-box;

        span {
            @include mediaQuery__xl {
            font-size: 110px;
            }
            display: inline-block;
            box-sizing: border-box;
            color: $clr-light;
            font-weight: 400;
        }

        .symbol {
            @include mediaQuery__xl {
                font-size: 70px;
            }
            font-size: 40px;
            letter-spacing: 0;
        }
    }
}

// BUTTON HOVER
.button__pipaluk:hover {
    background-color: $clr-light;
    color: $clr-dark;
    border-color: $clr-dark;
    border: 2px solid;
}

.button__black__outline:hover {
    border-color: #01b3a7;
    background-color: #01b3a7;
    color: $clr-dark;
}

// ANIMATED

.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
}


// GALLERY SLIDER - HOME PAGE 
