@use '../abstract' as *;

.button {
    position: relative;
    overflow: hidden;
    min-width: 200px;
    border: 2px solid;
    font-size: 16px;
    line-height: 1.34;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
}

.button__primary {
    color: $clr-light;
    background-color: $clr-accent;
    background: $clr-accent;
}

.button__primary:hover {
    color: #ffffff;
    background-color: $clr-accent;
    border-color: $clr-accent;
}

.button__black__outline {
    color: #151515;
    background-color: transparent;
    border-color: #151515;
    padding: 16px 33px 16px;
    border: 2px solid;

    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
}

.button__pipaluk {
    padding: 20px 33px 19px;
    background: transparent;
    position: relative;
    overflow: visible;
    border: none;
    z-index: 1;

    border-color: $clr-accent;
    border: 2px solid;
}

.button__primary .button__pipaluk:hover {
    color: #151515;
    background: transparent;
}


.button__pipaluk::before {
    background: #01b3a7;
    border-color: #151515;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}


.button__pipaluk::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease 0s;
    transform: scale(1.05);
    will-change: transform;
    z-index: -1;

    border-color: #151515;
}

.button__pipaluk:hover::before {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition-duration: .2s;
}

.button__pipaluk:hover::after {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition-duration: .3s;
    transition-delay: .1s;
}

.button__md {
    min-width: 140px;
    font-size: 16px;
    line-height: 1.5;
    text-overflow: ellipsis;
    
}

@keyframes fadeInUp{
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

// BACK TO TOP BUTTON

.back-top {

    @include mediaQuery__xxl {
        right: 12px;
    }

    @include mediaQuery__md {
        width: 50px;
        height: 50px;
        line-height: 46px;
        bottom: 30px;
    }

    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    color: #ffffff;
    background: #01b3a7;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
    animation: fadeInUp .4s ease-in-out
}

.back-top:hover {
    background: $clr-dark;
}

.back-top.sticky {
    position: fixed;
    z-index: 9999;
}

.back-top a {
    display: inline-block;
    font-family: 'FontAwesome';
    scroll-behavior: smooth;
}

.back-top i {
    font-weight: 400;
    color: $clr-light;
    font-size: 15px;
    line-height: 38px;
    text-align: center;
    font-family: 'FontAwesome';
    content: "\f106";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.sticky {
    position: fixed;
    transition: all 0.3s ease-in;
}


// SAAVEDRA BUTTONS
.btn{
    background: $clr-dark;
    padding:1.5rem,2.5rem;
    margin: 2rem 0;
    font-weight: bold;
    border-radius: 1rem;
    display:flex;
    transition: .5s ease;
    font-family: Speedee-Bold;
    @include d-flex(center, center);
        &:hover{
            background: darken(#fff , 20);
        }
    &-primary{
        background: $clr-light;
    }
    $colorsbtn:(
        "light": $clr-light,
        "dark": $clr-dark
);
//color classes assigner ex: class="container bg-yellow"
@each $key, $val in $colorsbtn{
    .btnColor-#{$key}{
        background-color: #{$val};
    }
}
}