//base for typographical sizes of the divs, sections, body. i.e. line-height, liding.
@use '../abstract/' as *;
@font-face{
    font-family: "Font";
    src: url('./../../dist/fonts/Montserrat-Medium.woff');
}
@font-face{
    font-family: "Font-Bold";
    src: url('./../../dist/fonts/Montserrat-Bold.woff');
}
@font-face{
    font-family: "Font-Light";
    src: url('./../../dist/fonts/Montserrat-Light.ttf');
}



body{
    font-family:  "Font";
    color:$clr-dark;
    background-color: $clr-light;
    // background-color:red;
    color:rgba($clr-dark, 0.7);
    line-height: 1.6;
    font-size: 1.6rem;
    cursor: crosshair; 
}

.container{
    max-width: 120rem;
    padding: 0 1.6rem;
    margin:0 auto;
}
body.open{
 overflow: hidden;

}
html{
    font-size: 10px; 
    // overflow: hidden;
   
    
}
a{
    text-decoration: none;
    color: $clr-dark;
}
p{
    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: 1.15rem;
    text-wrap: balance;
    color: $clr-dark;
}
h1{
    font-weight:bold ;
    font-family: "Font-Bold";
    text-wrap: balance;
    color: $clr-dark;
}
h2,h3,h4,h5,h6{
    font-family: "Font";
    text-wrap: balance;
    color: $clr-dark;
}
h1{
    font-size: clamp(3.5rem, 6vw,5.5rem);
    margin-bottom: 2rem;
}
h2{
    font-size: clamp(2rem, 6vw,3rem);
    margin-bottom: 2rem;
}
h3{
    font-size: clamp(2rem, 6vw,2.5rem);
    margin-bottom: 1.6rem;
}
h4{
    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: unset;
    // used to be 1.6rem
}

ul{
    text-transform: none;
    list-style: none;
    li{
        color: $clr-dark;
        font-family: "Font";
    i{
        font-family: "Font";
    }
}
}
img{
    filter: brightness(90%);
    &:hover{
        filter: brightness(100%);
        transform: scale(1.025); 
       
    }
}
button{
    color: $clr-dark;
}
label, input ,textarea, i{
    color:$clr-dark;
    font-family:"Font" ;
}
small{
    color: $clr-dark;
}
i{
    color:$clr-dark;
}
button, a, i , ul, li{
    border:none;
}
    
