@use '../abstract' as *;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour&display=swap');


@font-face {
    font-family: "montserrat-regular";
    src: url('../../fonts/Montserrat-Regular.woff2');
}

@font-face {
    font-family: "montserrat-bold";
    src: url('../../fonts/Montserrat-Bold.woff2');
}


html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: normal;
    color: #151515;
    background-color: #ffffff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x:hidden;
   
}

body.open {
     overflow: hidden;
     height: 100vh;
}

a {
    text-decoration: none;
    color: $clr-dark;
}

ul {
    list-style: none;
    color: $clr-light;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family: "montserrat-regular";
    text-wrap: balance;
    color: $clr-dark;
}

h1 {
    font-weight:bold ;
    font-family: "Font-Bold";
    text-wrap: balance;
    color: $clr-dark;
}

h2 {
    // font-size: clamp(2.2rem, 6vw , 3rem);
    // margin-bottom: 2rem;

    font-size: clamp(2rem, 6vw,3rem);
    margin-bottom: 2rem;
}

h3 {
    // display: block;
    // margin-top: 0;
    // margin-bottom: 0;
    // font-weight: 600;
    // font-family: "Montserrat", sans-serif, Arial, sans-serif;
    // letter-spacing: normal;
    // color: #151515;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // unicode-bidi: isolate;

    font-size: clamp(2rem, 6vw,2.5rem);
    margin-bottom: 1.6rem;
}

h4 {
    // font-size: clamp(1.4rem, 6vw , 1.6rem);
    // margin-bottom: 1.6rem;

    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: unset;
}

h5 {
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    letter-spacing: normal;
    color: #151515;

    margin-top: 0;
    margin-bottom: 0;
}


p {
    // display: block;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // unicode-bidi: isolate;
    // margin: 0;

    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: 1.15rem;
    text-wrap: balance;
    color: $clr-dark;
}

// SAAVEDRA

.container{
    max-width: 120rem;
    padding: 0 1.6rem;
    margin:0 auto;
}

ul{
    text-transform: none;
    list-style: none;
    li{
        color: $clr-dark;
        font-family: "Font";
    i{
        font-family: "Font";
    }
}
}


img{
    filter: brightness(100%);
    &:hover{
        filter: brightness(90%);
        transform: scale(1.025); 
       
    }
}

button{
    color: $clr-dark;
}

label, input ,textarea, i{
    color:$clr-dark;
    font-family:"Font" ;
}

small{
    color: $clr-dark;
}

i{
    color:$clr-dark;
}

button, a, i , ul, li{
    border:none;
}
