:root{
    --light: #f5f5f5;
    --dark: #26252a;

    // util colors
    --primary: #162e44;
    --secondary: #01b3a7;
    --accent: #50ba87;


}

//primary
$clr-light: var(--light);
$clr-dark: var(--dark);
// util colors css to sass
$clr-primary:var(--primary);
$clr-secondary: var(--secondary);
$clr-accent: var(--accent);



//breakpoints
$sm: "50rem";
$md: "75.5rem";
$laptop: "102.4rem";

$lg: "144rem";
$xl: "180rem";

