@use './colors' as *;
@mixin imgCover($ht:1px, $wd:100%){
    height: $ht;
    width: $wd;
    object-fit: cover;
    filter: brightness(50%);

}
@mixin centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    height: auto;
}
@mixin centerImgFaceright{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@mixin centerImgReset{
    display: unset;
    margin-left: auto;
    margin-right: auto;
    width: unset;
}
@mixin imgCoverB($ht:1px, $wd:1px){
    height: $ht;
    width: $wd;
    object-fit: cover;
    filter: brightness(100%);

}
@mixin roundedContainer($clr: $clr-light){
    max-width:180rem;
    padding:0 1.6rem;
    margin: 2rem auto;
}
@mixin  mediaQueryVS($m-width:$sm){
    @media (max-width:$m-width){
        @content;
    }
}
@mixin  mediaQuery($m-width:$sm){
    @media (min-width:$m-width){
        @content;
    }
}
@mixin  mediaQueryT2P($m-width:$sm){
    @media (max-width:$m-width){
        @content;
    }
}
@mixin  mediaQueryD2T($m-width:$md){
    @media (max-width:$m-width){
        @content;
    }
}

@mixin  mediaQuerySL($m-width:$laptop){
    @media (max-width:$m-width){
        @content;
    }
}
@mixin  mediaQueryLL($m-width:$laptop){
    @media (min-width:$m-width){
        @content;
    }
}

// even grid
@mixin grid($cols: 1, $gap:1rem){
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
}

// un even grid
@mixin unevenGrid($val: 1, $gap:1rem){
    display: grid;
    grid-template-columns: $val;
    grid-gap: $gap;
    margin-bottom: 5rem;
}

//mixin for bottom things
@mixin absolute($top:0,$right:0,$bottom:0,$left:0){
    position: absolute;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}
// mixin for banner:
@mixin d-flex($justify:flex-start,$align:flex-start){
    display:flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin px-var($px:auto){
    padding-left: $px;
    padding-right: $px;
}
@mixin py-var($py:0){
    padding-top: $py;
    padding-bottom: $py;
}
@mixin mx-auto($mx:auto){
    margin: 0 $mx;
}


// omega clamp:
@mixin clamp($property, $min-size, $scaler, $max-size, $min-size-left:false, $scaler-left:false, $max-size-left:false){
    @if $min-size-left == false {
      #{$property}:$max-size; 
      #{$property}:#{"min(max(#{$min-size}, #{$scaler}), #{$max-size})"}; 
      #{$property}:clamp($min-size, $scaler, $max-size);
    } @else if $min-size-left == 0 or $min-size-left == auto{
      #{$property}:$max-size $min-size-left; 
      #{$property}:#{"min(max(#{$min-size}, #{$scaler}), #{$max-size})"} $min-size-left;
      #{$property}:clamp($min-size, $scaler, $max-size) $min-size-left;
    } @else {
      #{$property}:$max-size $min-size-left; 
      #{$property}:#{"min(max(#{$min-size}, #{$scaler}), #{$max-size})"} #{"min(max(#{$min-size-left}, #{$scaler-left}), #{$max-size-left})"}; 
      #{$property}:clamp($min-size, $scaler, $max-size) clamp($min-size-left, $scaler-left, $max-size-left);
    }
  }
//   fade in css:
